#  Python Programming

# Introduction to Python

Python is a high-level, interpreted, general-purpose programming language.
It was created by **Guido van Rossum** and released in **1991**.
It emphasizes code readability and has a simple syntax.

## Features of Python
- Easy to learn and use
- Interpreted language
- Dynamically typed
- Extensive standard library
- Open-source and community-supported
- Portable and platform-independent
- Supports OOP (Object-Oriented Programming)



## Why Python is Required for Data Science?

Python has become the most popular language in **Data Science** because:
- It has powerful libraries like **NumPy**, **Pandas**, **Matplotlib**, **Seaborn**, **Scikit-learn**, **TensorFlow**, etc.
- It handles **data cleaning, manipulation, analysis**, and **visualization** easily.
- It is beginner-friendly and has a huge community and documentation.
- It integrates well with **Jupyter Notebooks** for interactive analysis and reports.

---

## Where Can We Use Python?

Python is used in many domains:
- **Web Development** → (Django, Flask)
- **Data Science & Analytics** → (Pandas, NumPy, SciPy)
- **Machine Learning & AI** → (TensorFlow, Scikit-learn)
- **Automation / Scripting** → (Selenium, OS module)
- **Desktop Applications** → (Tkinter, PyQT)
- **Game Development** → (Pygame)
- **IoT and Embedded Systems**
- **Cybersecurity and Networking**

---

## Features of Python

- **Simple Syntax**: Easy to read and write.
- **Open Source**: Free and supported by community.
- **Interpreted Language**: Executes line-by-line.
- **Cross-Platform**: Works on Windows, Linux, macOS.
- **Dynamically Typed**: No need to define data types.
- **Extensive Libraries**: Built-in and third-party modules.
- **Supports OOP**: Classes, inheritance, encapsulation.
- **Portable**: Write once, run anywhere.

---

## Understanding Python Syntax

Python uses **indentation** instead of curly braces to define code blocks.  
This improves readability and reduces errors.

Example:

In [52]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

# Python Keywords

Python has a set of **reserved words** that cannot be used as identifiers (variable names, function names, etc.).

They are used to define the syntax and structure of Python programs.

### List of Python Keywords (partial list):

# Python Keywords and Their Descriptions

These are reserved words in Python that have predefined meanings and uses. You **cannot use them as identifiers** (variable or function names).

| Keyword     | Description |
|-------------|-------------|
| `and`       | Logical operator used to combine conditional statements |
| `as`        | Used to create an alias while importing a module |
| `assert`    | Used for debugging, tests if a condition is True |
| `break`     | Breaks out of the current closest loop |
| `class`     | Used to define a class |
| `continue`  | Skips the current iteration and continues with the next loop |
| `def`       | Used to define a function |
| `del`       | Deletes an object |
| `elif`      | Used in conditional statements; same as "else if" |
| `else`      | Executes a block if the condition is False |
| `except`    | Catches exceptions |
| `False`     | Boolean value representing false |
| `finally`   | Executes code after try...except no matter what |
| `for`       | Used to create a for loop |
| `from`      | Used to import specific parts of a module |
| `global`    | Declares a global variable inside a function |
| `if`        | Used to make conditional decisions |
| `import`    | Imports a module |
| `in`        | Used to check if a value exists in a sequence |
| `is`        | Tests object identity (compares memory location) |
| `lambda`    | Creates an anonymous function |
| `None`      | Represents a null value |
| `nonlocal`  | Declares a non-local variable inside nested functions |
| `not`       | Logical operator; returns True if operand is false |
| `or`        | Logical operator; returns True if one operand is true |
| `pass`      | A null statement; placeholder |
| `raise`     | Raises an exception |
| `return`    | Exits a function and returns a value |
| `True`      | Boolean value representing true |
| `try`       | Tries a block of code for errors |
| `while`     | Creates a while loop |
| `with`      | Used to wrap the execution of a block (context manager) |
| `yield`     | Ends a function and returns a generator |

In [53]:
import keyword
print(keyword.kwlist)
print("Total Keywords:", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total Keywords: 35

### In Python, only True, False, and None are capitalized keywords — all others are lowercase

# Identifiers in Python

In Python, an **identifier** is the name used to identify **variables**, **functions**, **classes**, **modules**, or **objects**.

---

## Rules for Writing Identifiers:

1. Must start with a **letter (A–Z or a–z)** or an **underscore `_`**
2. The rest of the identifier can contain **letters**, **digits (0–9)**, and **underscores**
3. **Cannot start with a digit**
4. **Cannot be a Python keyword**
5. **Case-sensitive** (`Age`, `age`, and `AGE` are different)

---

## Valid Identifiers:
```python
name, student_name, _age, A1, total_marks

## Invalid Identifiers
##### 1name : starts with a digit
##### student@ : contains invalid character
##### class : keyword

In [56]:
language = 'Python'
language

'Python'

In [55]:
# continue is a keyword cannot be used as identifier
continue = 'Python'

SyntaxError: invalid syntax (1709414160.py, line 2)

In [57]:
# we can have _ and digits in between or end
a_b = 13
a_ = 14
a1 = 15
a1b = 16

In [58]:
# can have _ as the starting charactor of an identifier
_a=10

In [62]:
# Python is case sensitive Age and AGE are different
Age = 22
AGE

NameError: name 'AGE' is not defined

#  Variables in Python

A **variable** is a name that refers to a value stored in memory.

Python is **dynamically typed**, so you don’t need to declare the data type — Python infers it automatically.

---

## Creating Variables
```python
x = 10
name = "Vaishnavi"
price = 99.99
is_valid = True

In [64]:
# Reassigning Variables
x = 10
x = "Now I'm a string"  # Reassigned to a different type
x

"Now I'm a string"

#  Data Types in Python

Python has several built-in data types used to store different kinds of data.

---

##  Numeric Types

| Type      | Description        | Example     |
|-----------|--------------------|-------------|
| `int`     | Integer values     | `10`, `-5`  |
| `float`   | Decimal values     | `3.14`, `-7.5` |
| `complex` | Complex numbers    | `2 + 3j`    |

---

##  Text Type

| Type    | Description     | Example         |
|---------|-----------------|-----------------|
| `str`   | Text values     | `"hello"`, `'A'`|

---

##  Sequence Types

| Type     | Description             | Example             |
|----------|-------------------------|---------------------|
| `list`   | Ordered, mutable        | `[1, 2, 3]`         |
| `tuple`  | Ordered, immutable      | `(1, 2, 3)`         |
| `range`  | Sequence of numbers     | `range(0, 10)`      |

---

##  Set Types

| Type        | Description            | Example                  |
|-------------|------------------------|--------------------------|
| `set`       | Unordered, unique items| `{1, 2, 3}`              |
| `frozenset` | Immutable set          | `frozenset([1, 2, 3])`   |

---

##  Mapping Type

| Type    | Description       | Example                              |
|---------|-------------------|--------------------------------------|
| `dict`  | Key-value pairs   | `{"name": "Vaishnavi", "age": 24}`   |

---

##  Boolean Type

| Type   | Description         | Example       |
|--------|---------------------|---------------|
| `bool` | True or False value | `True`, `False` |

---

##  None Type

| Type       | Description         | Example  |
|------------|---------------------|----------|
| `NoneType` | Represents no value | `None`   |

---

# type() is a function which returns type of data

```python
type()
```

In [73]:
a=10
b=10.8
c="welcome to innomatics"
d= None
e=[1,2,3,4,5]
f=(1,2,3,4,5)
g={1,2,3,4,5}
h={"name": "Vaishnavi", "age": 24}
i= True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'bool'>

#  `print()` and `input()` Functions in Python

---

## `print()` Function

Used to display output to the screen.

###  Syntax:
```python
print(object(s), sep=' ', end='\n', file=sys.stdout, flush=False)

| Argument | Purpose                                       |
| -------- | --------------------------------------------- |
| `sep`    | Separator between multiple values             |
| `end`    | What to print at the end (default is newline) |
| `file`   | Where to send output (default is the screen)  |
| `flush`  | Force write output immediately (used rarely)  |

## 1. sep – Separator between values
Default: ' ' (space)
##### Use: Change the separator between printed items.

In [75]:
print("Vaishnavi", "Sonar", sep="-")

Vaishnavi-Sonar

In [77]:
print("2025", "07", "22", sep="/")

2025/07/22

# 2. end – What to print at the end
Default: '\n' (new line)
##### Use: Change the ending character.

In [82]:
print("Hello", end=" ")
print("World")

Hello World

In [79]:
print("Line1", end=" | ")
print("Line2")

Line1 | Line2

# Example using sep and end together:

In [84]:
print("Python", "is", "fun", sep="*", end="!!!\n")

Python*is*fun!!!

# input() Function in Python

## What is input()?
#### The input() function allows user interaction by taking input from the keyboard during program execution.

In [86]:
variable_name = input("Your message to the user:")

Your message to the user: The function returns a string by default.

In [87]:
# Example 1: Basic Input
name = input("Enter your name: ")
print("Hello", name)

Enter your name:  Vaishnavi

Hello Vaishnavi

In [89]:
age = input("Enter your age: ")
print("You are", age+10, "years old.")

Enter your age:  10

TypeError: can only concatenate str (not "int") to str

In [90]:
#Example 2: Numeric Input with int() Conversion
age = int(input("Enter your age: "))
print("You are", age+10, "years old.")

Enter your age:  10

You are 20 years old.

##### Use int() or float() if you need numeric input.

In [91]:
#Example 3: Input of Two Numbers (With Type Conversion)
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum =", a + b)

Enter first number:  13
Enter second number:  14

Sum = 27




---


# Operators
. What are operators ?
1. Arithmatic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Bitwise Operators
6. Identity Operators
7. Membership Operators

# Arithmetic Operators
#### Python provides several arithmetic operators for mathematical calculations:

##  Arithmetic Operators

| Operator | Name             | Example        | Result         |
|----------|------------------|----------------|----------------|
| `+`      | Addition          | `5 + 2`        | `7`            |
| `-`      | Subtraction       | `5 - 2`        | `3`            |
| `*`      | Multiplication    | `5 * 2`        | `10`           |
| `/`      | Division          | `5 / 2`        | `2.5`          |
| `//`     | Floor Division    | `5 // 2`       | `2`            |
| `%`      | Modulus           | `5 % 2`        | `1`            |
| `**`     | Exponentiation    | `5 ** 2`       | `25`           |

In [94]:
# Examples of Arithmetic Operators
a = 10
b = 3

print("Addition :", a + b)        
print("Subtraction :", a - b)       
print("Multiplication :", a * b)    
print("Division :", a / b)          
print("Floor Division :", a // b)  
print("Modulus :", a % b)           
print("Exponentiation :", a ** b)

Addition : 13
Subtraction : 7
Multiplication : 30
Division : 3.3333333333333335
Floor Division : 3
Modulus : 1
Exponentiation : 1000

In [2]:
x=9
y=10
print(x+y)

19

In [3]:
x=9 y= 10
print(x+y)

SyntaxError: invalid syntax (3498426176.py, line 1)

In [4]:
x=9;y= 10
print(x+y)

19

## Important
#### 1) Overall Flow of Python Program Is From top To Bottom and Left To Right Side
#### 2) Assignment Operator has to be from right to left side

# Examples of Assignment Operators
### Assignment operators are used to assign values to variables:

##  Assignment Operators

| Operator | Example     | Equivalent To   |
|----------|-------------|-----------------|
| `=`      | `x = 5`     | Assign 5 to x   |
| `+=`     | `x += 5`    | `x = x + 5`     |
| `-=`     | `x -= 5`    | `x = x - 5`     |
| `*=`     | `x *= 5`    | `x = x * 5`     |
| `/=`     | `x /= 5`    | `x = x / 5`     |
| `//=`    | `x //= 5`   | `x = x // 5`    |
| `%=`     | `x %= 5`    | `x = x % 5`     |
| `**=`    | `x **= 2`   | `x = x ** 2`    |
| `&=`     | `x &= 3`    | `x = x & 3`     |
| `|=`     | `x |= 3`    | `x = x | 3`     |
| `^=`     | `x ^= 3`    | `x = x ^ 3`     |
| `>>=`    | `x >>= 1`   | `x = x >> 1`    |
| `<<=`    | `x <<= 1`   | `x = x << 1`    |

#### .... Assignment  =
#### .... Add and assign +=
#### .... Substract and assign -=
#### .... Multiply and assign *=
#### .... Divison  and assign /=
#### .... Floor Division and assign //=
#### .... Modulus And Assign %=
#### ....  Exponent and assign

In [5]:
# Assignment examples
x = 10
print("Initial x =", x)
x += 3
print("x += 3: ", x)
x -= 2
print("x -= 2: ", x)
x *= 4
print("x *= 4: ", x)
x /= 2
print("x /= 2: ", x)
x //= 3
print("x //= 3: ", x)
x %= 2
print("x %= 2: ", x)
x = 5
x **= 2
print("x **= 2: ", x)
#........Exponentiation.......
print(2**3)
print(4**2)
print(2**3**2)  
# from right to left  forst calcualte 3**2 = 9,
# calculate final exponent 2**9 = 512
# Example here for right Associativity of exponent

Initial x = 10
x += 3:  13
x -= 2:  11
x *= 4:  44
x /= 2:  22.0
x //= 3:  7.0
x %= 2:  1.0
x **= 2:  25
8
16
512

# Comparision Operators

### Comparison (or relational) operators compare two values and return a Boolean result (True or False):

##  Comparison Operators

| Operator | Name             | Example        | Result         |
|----------|------------------|----------------|----------------|
| `==`     | Equal to          | `5 == 2`       | `False`        |
| `!=`     | Not equal to      | `5 != 2`       | `True`         |
| `>`      | Greater than      | `5 > 2`        | `True`         |
| `<`      | Less than         | `5 < 2`        | `False`        |
| `>=`     | Greater or equal  | `5 >= 2`       | `True`         |
| `<=`     | Less or equal     | `5 <= 2`       | `False`        |

In [101]:
# Examples of Comparision Operators

a = 10
b = 20

print("a == b:", a == b)
print("a != b:", a != b)
print("a > b:", a > b)
print("a < b:", a < b)
print("a >= b:", a >= b)
print("a <= b:", a <= b)

a == b: False
a != b: True
a > b: False
a < b: True
a >= b: False
a <= b: True

In [15]:
# Practical Example
username = "Vaishnav_mtvs"
actual_password  = "vs1234"
entered_password = "vs1234"
if(actual_password == entered_password):
    print("Welcome To The World")
else:
    print("Try again")
# Not Equal to
num = 9
if(num % 2 != 0):
    print("ODD")
else:
    print("EVEN")

Welcome To The World
ODD

#  Logical Operators

## Logical operators are used to combine conditional statements. They return Boolean values (`True` or `False`).

| Operator | Description                                      | Example                 |
| -------- | ------------------------------------------------ | ----------------------- |
| `and`    | Returns `True` if **both** statements are true   | `x > 5 and x < 10`      |
| `or`     | Returns `True` if **any one** statement is true  | `x > 5 or x < 3`        |
| `not`    | Reverses the result (True → False, False → True) | `not(x > 5 and x < 10)` |

In [103]:
# Examples of Logical Operators

x = 5
y = 10

# and
print(x > 3 and y < 15)    
print(x > 6 and y < 15)   

# or
print(x > 6 or y < 15)     
print(x > 6 or y > 15)     

# not
print(not(x > 3))          
print(not(y > 15))

True
False
True
False
False
True

In [19]:
True and False

False

In [20]:
True or False

True

In [21]:
not True

False

# Bitwise Operators
## Bitwise operators perform operations on the binary representations of integers.

| Operator | Name         | Example   | Result    |
|----------|--------------|-----------|-----------|
| `&`      | AND          | `5 & 3`   | `1`       |
| `|`      | OR           | `5 | 3`   | `7`       |
| `^`      | XOR          | `5 ^ 3`   | `6`       |
| `~`      | NOT          | `~5`      | `-6`      |
| `<<`     | Left Shift   | `5 << 1`  | `10`      |
| `>>`     | Right Shift  | `5 >> 1`  | `2`       |

In [22]:
# Bitwise AND
print("5 & 3 =", 5 & 3)    # 0101 & 0011 => 0001 => 1

# Bitwise OR
print("5 | 3 =", 5 | 3)    # 0101 | 0011 => 0111 => 7

# Bitwise XOR
print("5 ^ 3 =", 5 ^ 3)    # 0101 ^ 0011 => 0110 => 6

# Bitwise NOT
print("~5 =", ~5)          # ~00000101 => 11111010 => -6

# Left Shift
print("5 << 1 =", 5 << 1)  # 00000101 << 1 => 00001010 => 10

# Right Shift
print("5 >> 1 =", 5 >> 1)  # 00000101 >> 1 => 00000010 => 2

5 & 3 = 1
5 | 3 = 7
5 ^ 3 = 6
~5 = -6
5 << 1 = 10
5 >> 1 = 2

# 1. & (AND)
### Description: Bit is 1 only if both bits are 1.

#### Example:
5 & 3
→ 0101 & 0011 = 0001
→ Result: 1

In [29]:
5 & 3

1

# 2. | (OR)
### Description: Bit is 1 if any one bit is 1.

#### Example:
5 | 3
→ 0101 | 0011 = 0111
→ Result: 7

In [24]:
5 | 3

7

# 3. ^ (XOR)
### Description: Bit is 1 if only one of the bits is 1.

#### Example:
5 ^ 3
→ 0101 ^ 0011 = 0110
→ Result: 6

In [25]:
5 ^ 3

6

# 4. ~ (NOT)
### Description: Inverts all bits; gives -(n + 1) due to 2's complement.

#### Example:
~5
→ -(5 + 1)
→ Result: -6

In [26]:
~5

-6

# 5. << (Left Shift)
### Description: Shifts bits to the left, adding 0 on the right.

#### Example:
5 << 1
→ 0101 becomes 1010
→ Result: 10

In [27]:
5 << 1

10

# 6. >> (Right Shift)
### Description: Shifts bits to the right, dropping rightmost bits.

#### Example:
5 >> 1
→ 0101 becomes 0010
→ Result: 2

In [28]:
5 >> 1

2

# Identity Operators
### Identity operators are used to compare the memory location of two objects, i.e., whether they refer to the same object in memory (not just the same value).


| Operator | Description               | Example         |
|----------|---------------------------|-----------------|
| `is`     | True if same object       | `x is y`        |
| `is not` | True if not same object   | `x is not y`    |

---

In [30]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]

print(x is y)      # True, because x and y refer to the same list object
print(x is z)      # False, x and z have the same content but are different objects
print(x == z)      # True, content is the same
print(x is not z)  # True, because they are different objects

True
False
True
True

##### is: checks for object identity (same memory).

##### ==: checks for value equality (same data).

# Membership Operators
### Membership operators are used to test whether a value or variable is found in a sequence (like a string, list, tuple, set, or dictionary).
| Operator | Description                        | Example            |
|----------|------------------------------------|--------------------|
| `in`     | True if value exists in a sequence | `'a' in 'apple'`   |
| `not in` | True if value doesn't exist        | `'x' not in 'cat'` |

In [32]:
# Using in with a string
word = "Innomatics"
print('I' in word)      # True
print('O' in word)      # False
print('p' in word)      # False

True
False
False

In [38]:
# Using not in with a list
fruits = ['apple', 'banana', 'cherry']
print('apple' not in fruits)   # False
print('mango' not in fruits)   # True

False
True

In [39]:
# Using in with a dictionary (checks keys)
# in operator checks only keys in a dictionary, not values.
student = {'name': 'Vaishnavi', 'age': 22}
print('name' in student)      # True
print('Vaishnavi' in student) # False

True
False